<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219141533662-tfm0ep6g96f3t1m68ohj8e0867le2uft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219141533662-tfm0ep6g96f3t1m68ohj8e0867le2uft</string>
	<key>API_KEY</key>
	<string>AIzaSyA76fW9ImnyXu1KlXyOJ8xOpXdKFhDUbHU</string>
	<key>GCM_SENDER_ID</key>
	<string>219141533662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithraj.firebasecrashcourse</string>
	<key>PROJECT_ID</key>
	<string>fir-crashcourse-919b6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashcourse-919b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219141533662:ios:5e5a7883520b156ceef74f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-crashcourse-919b6.firebaseio.com</string>
</dict>
</plist>